<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scholarship.demo.dao.StudentApplyDao">

    <insert id="apply" parameterType="com.scholarship.demo.model.Student"
    useGeneratedKeys="true" keyProperty="id">
        insert into student (username,password,sex,age,address,email)
        values (#{student.username},#{student.password},#{student.sex},#{student.age},#{student.address},#{student.email})
    </insert>

</mapper>